html {
  height: 100%;
}

body {
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #0d0d0d;
  margin: 0;
}

/* header */

header {
  text-align: center;
  border: 1px solid grey;
  border-bottom: none;
}

.title-nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  border-radius: 1px;
}

.title {
  font-size: 2rem;
  flex-shrink: 1;
  min-width: 0;
  margin: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
}

.nav { 
  display: inline;
  vertical-align: top;
}

.nav-links {
  background-image: linear-gradient(to bottom, #2f4455, #23333f);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #44637c;
}

.nav-links:hover {
  background-image: linear-gradient(to bottom, #23333f, #2f4455);
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 1.75;
}

.dropdown li {
  list-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  visibility: hidden;
  background-color: #3a5469;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid #44637c;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
}

.dropdown-nav-item {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #2f4455, #23333f);
}

.dropdown-nav-item:hover {
  background-image: linear-gradient(to bottom, #23333f, #2f4455);
}

@media (max-width: 600px) {

  .dropdown:hover .dropdown-menu {
    visibility: visible;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  .dropdown-nav-item {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  .dropdown-nav-item:hover {
    background-color: #283947;
  }
} 

/* content */

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid grey;
}

.heading {
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, black, rgb(25, 25, 25));
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  flex: 1;
  background-color: #1a1a1a;
  overflow: hidden;
  background-image: url('https://raw.githubusercontent.com/Cicadaware/cicadaware.github.io/refs/heads/main/assets/images/background.png');
  background-repeat: repeat;
  background-size: 384px 216px;
}

.content p {
  margin: 1rem;
}

.content h2 {
  text-align: center;
  font-size: 2rem;
  background-image: linear-gradient(to bottom, black, rgb(25, 25, 25));
  border-bottom: 1px solid grey;
  margin: 0;
  color: rgb(255, 255, 255, 1)
}

 .content a {
  color: rgb(255, 255, 255, 1)
 }

 .content img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 1px solid grey;
  border-radius: 2%;
 }

.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.post-block {
  background: black;
  padding: 1rem;
  height: 365px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  line-height: 1.4;
  text-align: center;
  border: 1px solid grey;
  transition: transform 0.2s ease;
  border-radius: 2%;
}

.post-block:hover {
  transform: scale(1.05);
  border: 1px solid rgb(255, 255, 255, 1);
  background: rgb(23, 23, 23);
}

.post-block:hover .thumbnail {
  border: 1px solid rgb(255, 255, 255, 1);
}

.post-block:hover .post-title {
  background: rgb(23, 23, 23);
}

.post-link {
  text-decoration: none;
  color: inherit;
  display: block;
  flex: 1 1 300px;
  max-width: 300px;
}

.post-title {
  background-color: #1b2833;
  background: black;
  margin: 0;
  font-size: 1.5rem;
  text-decoration: none;
}

.post-date {
  font-size: 0.85rem;
  font-style: italic;
  color: #ddd;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  display: inline;
}

.post-summary {
  color: #ddd;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px dotted grey;
}

.post-block p {
  margin: 0.5rem;
}

.post-content h2 {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.post-content p, ul {
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
}
/* footer */

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
  border-top: none;
  border: 1px solid grey;
  display: block;
  padding: 0.5rem;

}

.home-link {
  display: table;
}

/* misc */

a {
  color: #ddd;
  text-decoration: none;
  padding: 0.2rem;
}

header, footer {
  background-image: url('https://raw.githubusercontent.com/Cicadaware/cicadaware.github.io/refs/heads/main/assets/images/background2.png');
  background-repeat: repeat;
  background-size: 384px 216px;
}