body {
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
  height: 100%;
  min-height: 100vh;
  background-image: url('https://cicadaware.github.io/assets/images/background.png');
  background-repeat: repeat;
  background-position: center;
}

html {
  height: 100%;
  margin: 0;
}

a {
  color: #fffb00;
  text-decoration: underline;
}

a:hover {
  color: #ffaa00;
}

a:focus {
  color: #ffaa00;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  border-radius: 25px;
  margin: 1rem;
}

footer {
  font-size: 0.9rem;
  color: #888;
}

.welcome {
  text-align: center;
}

.content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 1rem;
  border-radius: 25px;
  margin: 1rem;
  border: 2px solid #fffb00;
  overflow: hidden;
}

.round-block {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 25px;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #fffb00;
}

.post-block {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #fffb00;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  flex: 1 1 250px;
  max-width: 300px;
}

.post-block:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}