html {
  height: 100%;
}

body {
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  min-height: 100vh;
  background-image: url('https://cicadaware.github.io/assets/images/background.png');
  background-repeat: repeat;
  background-position: center;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.nav {
  gap: 10px;
  justify-content: right;
  text-align: right;
  font-size: 0.95rem;
}

a {
  color: #ddd;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.2rem;
}

a:hover,
a:focus {
  color: white;
  border-color: white;
  text-decoration: underline;
}

header, footer {
  background-color: rgba(0, 0, 0, 0.75);
  border: 2px solid #fffb00;
  box-shadow: 0px 0px 10px 0 #fffb00;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: #888;
}

header {
  padding: 0.5rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.welcome {
  text-align: center;
}

.content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border: 2px solid #fffb00;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0 #fffb00;
  border-radius: 5px;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.post-link {
  text-decoration: none;
  color: #ddd;
  display: block;
  flex: 1 1 300px;
  max-width: 300px;
}

.post-block {
  border: 2px solid  #2979FF;
  box-shadow: 0px 0px 10px 0 #2979FF;
  background-color: rgba(122, 122, 122, 0.198);
  padding: 1rem;
  height: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  line-height: 1.4;
  text-align: center;
  border-radius: 5px;
}

.post-block:hover {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #2979FF);
}

.post-block p {
  margin-top: 0.5rem;
  flex-grow: 1;
}

.post-date {
  font-size: 0.85rem;
  color: #ddd;
  margin: 0 0 0.2rem 0;
  font-weight: 600;
}

.post-summary {
  font-style: italic;
  margin: 0 0 0.5rem 0;
  color: #ddd;
}

.post-block:hover .post-summary, .post-block:hover .post-date {
  color: black;
}
