<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>
<body>    
  <header>
    <div class="title-links">
    <h1 class="title">{{ site.title }}</h1>
      <div class="nav">
        <a href="/" class="nav-links">HOME</a>
        <a href="/2025/06/16/first-post.html" class="nav-links">ABOUT</a>
        <a href="https://cicadacore.itch.io/" class="nav-links">ITCH.IO</a>
        <a href="https://www.youtube.com/@Cicadacore64" class="nav-links">YOUTUBE</a>
        <a href="https://www.twitch.tv/cicadacore" class="nav-links">TWITCH</a>
        <a href="https://discord.gg/uyxnK4YzVw" class="nav-links">DISCORD</a>
      </div>
    </div>
  </header>

  <div class="page-container">
    <main class="content">
      {% if page.url == "/" %}
      <h1 class="heading">POSTS</h1>
      <div class="post-grid">
        {% for post in site.posts %}
          <a href="{{ post.url }}" class="post-link">
            <article class="post-block">
              <h1 class="post-title">{{ post.title }}</h1>
              <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
              <p class="post-summary">{{ post.summary | strip_html | truncate: 100 }}</p>
            </article>
          </a>
        {% endfor %}
      </div>
      {% else %}
        {{ content }}
      {% endif %}
    </main>
  </div>

  <footer>
    {% if page.url != "/" %} 
      <a href="/" class="nav-links">Back to homepage</a>
    {% endif %}
    <p class="copyright">© {{ site.time | date: "%Y" }} Cicadacore @ Cicadaware</p>
  </footer>
</body>
</html>