<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />
</head>
<body>    
  <header class="round-block">
    <h1 class="title">{{ site.title }}</h1>

      <div class="nav">
        <a href="/">HOME</a>
        <a href="/2025/06/16/first-post.html">ABOUT</a>
        <a href="https://cicadacore.itch.io/">ITCH.IO</a>
        <a href="https://www.youtube.com/@Cicadacore64">YOUTUBE</a>
        <a href="https://www.twitch.tv/cicadacore">TWITCH</a>
        <a href="https://discord.gg/uyxnK4YzVw">DISCORD</a>
      </div>

  </header>

  <div class="page-container">
    <main class="content">
      {% if page.url == "/" %}
      <h1 class="welcome">Welcome To My Blog</h1>
      <div class="post-grid">
        {% for post in site.posts %}
          <a href="{{ post.url }}" class="post-link">
            <article class="post-block">
              <h2 class="post-title">{{ post.title }}</h2>
              <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
              <p class="post-summary">{{ post.summary | strip_html | truncate: 100 }}</p>
            </article>
          </a>
        {% endfor %}
      </div>
      {% else %}
        {{ content }}
      {% endif %}
    </main>
  </div>

  <footer class="round-block">
    {% if page.url != "/" %} 
      <a href="/" class="home-link">Back to homepage</a>
    {% endif %}
    <p>© {{ site.time | date: "%Y" }} Cicadacore @ Cicadaware</p>
  </footer>
</body>
</html>